.btn-success2 {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #007bff;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 350px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0.3em;
  display: grid;
}

.table th {
  padding: 0.6rem;
  vertical-align: top;
  border-top: 1px solid #0a0a0a;
}

.tbaleHeader {
  background-color: #007bff;
  color: white;
}

.table td {
  padding: 0rem;
  vertical-align: top;
  border-top: 0.1px solid #0a0a0a;
}

.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
}

.tblCustom th,
td {
  //padding: 1px;
  border: solid 1px;
  text-align: center;
}
