<table style="width:100%" border="0">
  <tr>
    <th class="float-left">
      <button type="button" class="btn btn-success2" (click)="openCreateModal(template)">
        <i class="fa fa-plus"></i> New</button>
    </th>
    <th class="float-right">
      <div class="container h-10">
        <div class="d-flex justify-content-right h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="search" placeholder="Search..." [(ngModel)]="searchText"
              autocomplete="off">
            <a routerLink="/Basicinfo" class="search_icon"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
    </th>
  </tr>
</table>


<table class="table table-hover tblCustom" border="1">
  <thead>
    <tr class="tbaleHeader">
      <th (click)="sort('id')">ID
        <span class="fas fa-chevron-up" *ngIf="key =='id'" [ngClass]="{'fa fa-chevron-up':reverse,
        'fa fa-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('Name')">Name</th>
      <th (click)="sort('DateofBirth')">Date of Birth</th>
      <th (click)="sort('MobileNo')">Mobile No</th>
      <th (click)="sort('Country')">Country</th>
      <th colspan="1"></th>
    </tr>
    <tr *ngFor="let data of returnedArray | orderBy: key : reverse | 
      filter:searchText ">
      <td>{{ data.id }}</td>
      <td>{{ data.Name }}</td>
      <td>{{ data.DateofBirth }}</td>
      <td>{{ data.MobileNo }}</td>
      <td>{{ data.Country }}</td>
      <td>
        <a (click)="openEditModal(template2, data.id)" class="btn-sm btn-success2">Edit</a>
        &nbsp;
        <button type="button" class="btn-sm btn-success2">
          <a (click)="Delete(data.id)">Delete</a>
        </button>
      </td>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<pagination [totalItems]="totalData" [maxSize]="maxSize" [itemsPerPage]="15" [boundaryLinks]="showBoundaryLinks"
  (pageChanged)="pageChanged($event)"></pagination>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Personal Info</h4>
    <button type="button" class="btn btn-danger pull-right" (click)="ReloadPageData()"
      (click)="modalRef.hide()">Close</button>
  </div>
  <div class="modal-body">
    <app-createbasicinfo></app-createbasicinfo>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>



<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Personal Info</h4>
    <button type="button" class="btn btn-danger pull-right" (click)="ReloadPageData()"
      (click)="modalRef.hide()">Close</button>
  </div>
  <div class="modal-body">
    <app-updatebasicinfo></app-updatebasicinfo>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>